<section class="relative flex items-center justify-center py-24 overflow-hidden">
  <img 
    src="https://qontinuity-formations.eu/images/Qontinuity%20logo%20home.svg" 
    alt="qontinuity"
    class="w-full max-w-[1200px] px-4"
  />
</section>
