---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";

// Props pour contrôler l'espace sous le header fixe (offsetTopPx en pixels) et l'affichage du footer
export let hideFooter = false;
export let offsetTopPx: string = '0px';
---

<html lang="fr" class="scroll-smooth selection:bg-black selection:text-white">
  <head>
    <BaseHead />
  </head>
  <body class="bg-zinc-100 flex flex-col min-h-screen mx-auto 2xl:max-w-screen-xl relative">

    <!-- Navigation (header) -->
    <Navigation />

    <!-- Main content with dynamic padding-top -->
    <main
      class="flex-grow"
      style={`padding-top: ${offsetTopPx};`}
    >
      <slot />
    </main>

    <!-- Footer conditionnel -->
    { !hideFooter && <Footer /> }
  </body>
</html>
